@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url(font-awesome.min.css);

@font-face {
  font-family: Edo;
  src: url("../edosz.ttf");
}

html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;

}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

.text-bold {
  font-weight: 400;
}

blockquote {
  border-left: 5px solid #316dac;
}

hr {
  width: 10%;
  margin: 2em auto 2em auto;
}

a {
  color: #51acc7;
}

a:hover {
  color: #4899B1;
  text-decoration: none;
}

.section-container {
  padding: 3em 0 3em 0;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

.text-orange {
  color: #ff9800;
}

.text-white {
  color: #ffffff;
}

nav {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
  padding: 0 10px 0 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
  margin-top: 3px;
  color: white;
}

.navbar-default .navbar-brand:hover {

}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  margin: 13px 0 13px 0;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ff9800;
  border: 1px solid #ff9800;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-toggle:focus{
  background-color: transparent;
  color: #ff9800;
}
.navbar-default .navbar-toggle {
  border-color: #ff9800;
  margin-top: 20px;
}
.navbar-default .navbar-toggle:hover {
  background-color: #316dac;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #ff9800;
  background-color: #ff9800;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: rgba(49, 109, 172, 0.8);
}

/* Solid class attached on scroll past first section */
.solid {
  background-color: rgba(49, 109, 172, 0.8);
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.solid .navbar-brand {

}

.solid .navbar-nav > li > a {

}

.intro {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(49, 109, 172, 0.8), rgba(49, 109, 172, 0.8)), url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title {
  margin: 100px 0 30px 0;
  font-family: Edo, 'Lato', sans-serif;
  font-size: 8vw;
  letter-spacing: 0.5em;
  color: white;
}

.typed-cursor {
  border-bottom: solid 3px #ffffff;
  opacity: 1;
  -webkit-animation: blink 1.0s infinite;
  -moz-animation: blink 1.0s infinite;
  animation: blink 1.0s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.intro h2 {
  margin-bottom: 1em;
  font-size:calc(15px + 1.25vw);
  font-family: 'Lato', sans-serif;
}

.intro-btn {
  margin-top: 3em;
}

.btn {
  border-radius: 0;
}

.orange-container {
  background: #ffad33;
}

.news-link {
  font-size: 125%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer {
  background: #316dac;
}

.footer a, .footer a:hover {
  color: #ffffff;
}
