/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Kevin Added */

html {
    font-family: 'Lato', sans-serif;
}

div .no-margin {
    margin: 0 0 0 0;
}

iframe {
    margin: 0 auto;
}

p {
    line-height: 2rem;
}


/*
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../gears.gif') 50% 50% no-repeat rgb(249, 249, 249);
}
*/

#hacknehs-logo-text {
    font-size: 1.5rem;
    padding: 0;
    vertical-align: middle;
}

.collapsible-body {
    background: #ffffff;
}

.blue-grey-transparent {
    background-color: rgba(84, 110, 122, 0.8) !important;
}

.slider {
    width: auto;
    margin: 0 auto;
}

.slider .slides li .caption {
    position: absolute;
    top: 27%;
    left: 15%;
    width: 70%;
}

.slider .indicators .indicator-item {
    background-color: #ffffff;
    border: 3px solid #424242;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
    background-color: #ff9800;
}

.slider .indicators {
    z-index: 100;
    /* text-align: left; */
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #546e7a;
}

footer.page-footer {
    padding-top: 80px;
    background: #546e7a;
}

.hacknehs-welcome-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: white;
}

.hacknehs-participant-container {
    line-height: 0;
    height: auto;
    padding-top: 40px;
    padding-bottom: 1px;
      background: white;
}

#home {
    background: url('../boston_night.jpg');
    background-size: cover;
}

.hacknehs-form-container {
    padding-top: 1px;
    padding-bottom: 40px;
    background: #ff9800;
}

.hacknehs-orange-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #ff9800;
}

.hacknehs-white-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}


/* label color */

.input-field label {
    color: #000;
}


/* label focus color */

.input-field input[type=text]:focus + label {
    color: #fff;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #26a69a;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #F44336;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #fff;
}

input[type=submit] {
    letter-spacing: .5px;
    color: white;
    padding: 20px 30px;
    background: #546e7a;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: .2s ease-out;
}

@media (min-width: 1530px) {
    .card {
        margin: 15px 15px;
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.333333%;
    }
    .col-lg-2 {
        width: 16.666666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.333333%;
    }
    .col-lg-5 {
        width: 41.666666%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.3333333%;
    }
    .col-lg-8 {
        width: 66.666666%;
    }
    .col-lg-9 {
        width: 74.999999%;
    }
    .col-lg-10 {
        width: 83.333333%;
    }
    .col-lg-11 {
        width: 91.666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 960px) and (max-width: 1529px) {
    .card {
        margin: 15px 15px;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.333333%;
    }
    .col-md-2 {
        width: 16.666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333333%;
    }
    .col-md-5 {
        width: 41.666666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333%;
    }
    .col-md-8 {
        width: 66.666666%;
    }
    .col-md-9 {
        width: 74.999999%;
    }
    .col-md-10 {
        width: 83.333333%;
    }
    .col-md-11 {
        width: 91.666666%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 959px) {
    .card {
        margin: 15px 0 0 0;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33333%;
    }
    .col-sm-2 {
        width: 16.66666%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.333333%;
    }
    .col-sm-5 {
        width: 41.666666%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333%;
    }
    .col-sm-8 {
        width: 66.666666%;
    }
    .col-sm-9 {
        width: 74.999999%;
    }
    .col-sm-10 {
        width: 83.333333%;
    }
    .col-sm-11 {
        width: 91.666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
}


@media (max-width: 992px) {
    #myNavbarLeft {
        display: none;
    }
    #myNavbarRight {
        display: none;
    }
}

@media (max-width: 500px) {
    #hacknehs-logo-img {
        height: 140px;
    }
}
